
  <section class="home" id="home">
  <div class="home__content" data-aos="zoom-out-right" data-aos="fade-right"
       data-aos-easing="ease-in-sine" data-aos-duration="2000">
    <h1>Desarrollador <span>Web</span>
      <div class="home__img--mobile" data-aos="fade-left"
           data-aos-easing="ease-in-sine" data-aos-duration="2000">
        <img ngSrc="assets/images/perfil.jpeg" alt="Pepe Ruiz, programando" width="250" height="333" priority>
      </div>
    </h1>
    <h2>Especialista en <span>Frontend</span></h2>

    <div class="home__social-media">
      <a class="home__social-media-link" href="https://www.linkedin.com/in/pepe-ruiz-junyent-37bb88290/" alt="Linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a>
      <a class="home__social-media-link" href="https://github.com/PepeRJ" alt="Github" target="_blank"><i class='bx bxl-github'></i></a>
      <a class="home__social-media-link" href="mailto:peperj7@gmail.com" alt="Gmail" target="_blank"><i class='bx bxl-gmail'></i></a>
      <a class="home__social-media-link" href="https://wa.me/34667285017" alt="Whatsapp" target="_blank"><i class='bx bxl-whatsapp'></i></a> 
    </div>
  </div>

  <div class="home__img" data-aos="zoom-out-right" data-aos="fade-left"
       data-aos-easing="ease-in-sine" data-aos-duration="2000">
    <img ngSrc="assets/images/perfil.jpeg" alt="Pepe Ruiz, programando" width="450" height="600" priority>

    <div class="home__buttons">
      <app-button href="#projects" [target]="'_self'" text="Proyectos"></app-button>
      <app-button href="#contact" [target]="'_self'" text="Contacto" color="#00ffee" backgroundColor="black"></app-button>
    </div>
  </div>
</section> 