
<section class="projects" id="projects">
    <h2 class="heading">Proyectos</h2>
    <div class="projects__container " >
      <article class="projects__card " data-aos="flip-left" data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <div class="projects__image">
          <img ngSrc="/assets/images/web-healthy.png" alt="Web para cliente" width="250" height="146" loading="lazy">

        </div>
        <div class="projects__content">
          <h2 class="projects__title">Web para cliente</h2>
          <div class="projects__iconos">
            <img ngSrc="/assets/icons/angular.ico" alt="Angular" height="30" width="30" loading="lazy">
            <img ngSrc="/assets/icons/js.png" alt="JavaScript" height="30" width="30" loading="lazy">
            <img ngSrc="/assets/icons/ts.png" alt="TypeScript" height="30" width="30" loading="lazy">
            <img ngSrc="/assets/icons/html.png" alt="Html" height="30" width="30" loading="lazy">
            <img ngSrc="/assets/icons/css.png" alt="Css" height="30" width="30" loading="lazy">
            <img ngSrc="/assets/icons/scss.png" alt="Scss" height="30" width="30" loading="lazy">
            <img ngSrc="/assets/icons/node.png" alt="Node.js" height="30" width="30" loading="lazy">
          </div>
          <p class="projects__description" >Creación y mantenimiento de sitio web para cliente...</p>
          <a (click)="openModal('healthy')">Click para leer más...</a>
        </div>

        <div class="projects__buttons">
        <app-button href="https://www.healthywithruben.com" icon="bx bx-globe" text="Visitar Sitio Web"></app-button>
        </div>
        
      </article>
 
      <article class="projects__card " data-aos="flip-right" data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <div class="projects__image">
          <img ngSrc="/assets/images/app-ecommerce.png" alt="Ecommerce" width="450" height="274" priority >
          <a href="#" class="projects__button button"></a>
        </div>
        <div class="projects__content">
            <h3 class="projects__subtitle"></h3>
            <h2 class="projects__title">Ecommerce</h2>
            <div class="projects__iconos">
              <img ngSrc="/assets/icons/angular.ico" alt="Angular" height="30" width="30" loading="lazy">
              <img ngSrc="/assets/icons/js.png" alt="JavaScript" height="30" width="30" loading="lazy">
              <img ngSrc="/assets/icons/ts.png" alt="TypeScript" height="30" width="30" loading="lazy">
              <img ngSrc="/assets/icons/html.png" alt="Html" height="30" width="30" loading="lazy">
              <img ngSrc="/assets/icons/css.png" alt="Css" height="30" width="30" loading="lazy">
              <img ngSrc="/assets/icons/scss.png" alt="Scss" height="30" width="30" loading="lazy">
              <img ngSrc="/assets/icons/node.png" alt="Node.js" height="30" width="30" loading="lazy">
              <img ngSrc="/assets/icons/mysql.png" alt="MySql" height="30" width="30" loading="lazy">
            </div>
            <p class="projects__description">Tienda de ropa en línea creada con el framework...</p>
            <a (click)="openModal('ecommerce')">Click para leer más...</a>
          </div>
         <div class="projects__buttons">
            
        <app-button href="https://github.com/PepeRJ/Ecommerce-APP" icon="bx bxl-github" text="Repositorio"></app-button>
        <app-button href="https://www.youtube.com/watch?v=Eqd7I83r9pI" icon="bx bxs-videos" text="Despliegue"></app-button>
    </div>   
  </article>

        <article class="projects__card " data-aos="flip-left" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
            <div class="projects__image">
              <img ngSrc="/assets/images/app-tareas.png" alt="App de tareas" width="250" height="145" loading="lazy">
              <a href="#" class="projects__button button"></a>
            </div>
            <div class="projects__content">
            
              <h2 class="projects__title">App Gestor de Tareas</h2>
              <div class="projects__iconos">
                <img ngSrc="/assets/icons/angular.ico" alt="Angular" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/js.png" alt="JavaScript" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/ts.png" alt="TypeScript" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/html.png" alt="Html" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/css.png" alt="Css" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/scss.png" alt="Scss" height="30" width="30" loading="lazy">
              </div>
                <p class="projects__description">Gestor de tareas creado con Angular. Esta aplicación...</p>
                <a (click)="openModal('tareas')">Click para leer más...</a>
              </div>
            <div class="projects__buttons">
    
        <app-button href="https://github.com/PepeRJ/App-Gestor-de-Tareas"  icon="bx bxl-github" text="Repositorio"></app-button>
        <app-button href="https://iridescent-nasturtium-c087d8.netlify.app/"  icon="bx bx-globe" text="Demo"></app-button>
            </div>

        </article>

        <article class="projects__card" data-aos="flip-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
            <div class="projects__image">
              <img ngSrc="/assets/images/app-tiempo.png" alt="App del tiempo" width="250" height="150" priority >
            </div>
            <div class="projects__content">
              <h2 class="projects__title">App del Tiempo</h2>
              <div class="projects__iconos">
                <img ngSrc="/assets/icons/angular.ico" alt="Angular" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/js.png" alt="JavaScript" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/ts.png" alt="TypeScript" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/html.png" alt="Html" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/css.png" alt="Css" height="30" width="30" loading="lazy">
                <img ngSrc="/assets/icons/scss.png" alt="Scss" height="30" width="30" loading="lazy">
              </div>
              <p class="projects__description">En este sitio web encontraremos el clima de las...</p>
              <a (click)="openModal('tiempo')">Click para leer más...</a>
            </div>
            <div class="projects__buttons">
              <app-button href="https://github.com/PepeRJ/App-del-Tiempo"  icon="bx bxl-github" text="Repositorio"></app-button>
              <app-button href="https://incredible-elf-538705.netlify.app"  icon="bx bx-globe" text="Demo"></app-button>
            </div>
          </article>

          @defer (when activeModal() === 'healthy') {
             @if (getActiveProject() !== undefined) {
            <app-modal-cards  [imageUrl]="getActiveProject()!.image" 
              [title]="getActiveProject()!.title" 
              [icons]="getActiveProject()!.icons"
              [description]="getActiveProject()!.description"
              [buttons]="getActiveProject()!.buttons"
              (close)="closeModal()">
            </app-modal-cards>}
          } 
        
          @defer (when activeModal() === 'ecommerce') {
             @if (getActiveProject() !== undefined) {
            <app-modal-cards [imageUrl]="getActiveProject()!.image" 
              [title]="getActiveProject()!.title" 
              [icons]="getActiveProject()!.icons"
              [description]="getActiveProject()!.description"
              [buttons]="getActiveProject()!.buttons"
              (close)="closeModal()">
            </app-modal-cards>}
          } 
        
          @defer (when activeModal() === 'tiempo') {
             @if (getActiveProject() !== undefined) {
            <app-modal-cards [imageUrl]="getActiveProject()!.image" 
              [title]="getActiveProject()!.title" 
              [icons]="getActiveProject()!.icons"
              [description]="getActiveProject()!.description"
              [buttons]="getActiveProject()!.buttons"
              (close)="closeModal()">
            </app-modal-cards>}
          } 
        
          @defer (when activeModal() === 'tareas') {
             @if (getActiveProject() !== undefined) {
            <app-modal-cards [imageUrl]="getActiveProject()!.image" 
              [title]="getActiveProject()!.title" 
              [icons]="getActiveProject()!.icons"
              [description]="getActiveProject()!.description"
              [buttons]="getActiveProject()!.buttons"
              (close)="closeModal()">
            </app-modal-cards>}
          } 
  </div>
</section>  