@defer (on timer(1000ms)) {
    <section class="skills" id="skills">
      <h1 class="heading">Skills</h1>
      <div class="animation-container" data-aos="zoom-in" data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"> 
          <div class="img-main">
              <img ngSrc="/assets/icons/angular-big.png" alt="Angular" width="600" height="250" loading="lazy">
          </div>
          <div class="iconos-alrededor">
              <img ngSrc="/assets/icons/js.png" alt="JavaScript" width="30" height="30" loading="lazy">
              <img ngSrc="/assets/icons/ts.png" alt="TypeScript" width="30" height="30" loading="lazy">
              <img ngSrc="/assets/icons/html.png" alt="Html" width="30" height="30" loading="lazy">
              <img ngSrc="/assets/icons/css.png" alt="Css" width="30" height="30" loading="lazy">
              <img ngSrc="/assets/icons/scss.png" alt="Scss" width="30" height="30" loading="lazy">
              <img ngSrc="/assets/icons/mysql.png" alt="MySql" width="30" height="30" loading="lazy">
              <img ngSrc="/assets/icons/node.png" alt="Node.js" width="30" height="30" loading="lazy">
              <img ngSrc="/assets/icons/git.png" alt="Git" width="30" height="30" loading="lazy">
              <img ngSrc="/assets/icons/github.png" alt="Github" width="30" height="30" loading="lazy">
          </div>
      </div>
    </section>
  } @placeholder {<p>Cargando skills...</p>
}