<footer class="footer" >
    <div class="footer__social-media">
        <a href="https://www.linkedin.com/in/pepe-ruiz-junyent-37bb88290/" target="_blank"><i class='bx bxl-linkedin'></i></a>
       <a href="https://github.com/PepeRJ" target="_blank"><i class='bx bxl-github'></i></a>
       <a href="mailto:peperj7@gmail.com" alt="Gmail" target="_blank"><i class='bx bxl-gmail'></i></a>
       <a href="https://wa.me/34667285017" alt="Whatsapp" target="_blank"><i class='bx bxl-whatsapp'></i></a> 
    </div>
    <ul class="footer__list">
        <li><a href="#">Inicio</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#about">Sobre mí</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contacto</a></li>
    </ul>
 
    <p class="footer__copyright">©Derechos de autor. Casi todos los derechos reservados.</p>
    <p>2024</p>
  </footer>